<!-- card -->
<div class="card mt-5 align-items-center mx-auto  p-5 w-50 ">

    <!-- button -->
    <div class="update-button">
        <button type="button" class="btn px-3 py-1  mb-3  btn-sm" routerLink="/home">
            <i class="fas fa-chevron-left"></i> Back to home</button>

        <!-- form -->
        <form class="mt-3" class="addForm mx-auto" #form="ngForm"  autocomplete="off"
        *ngIf="formData" >
            <!-- ----------------row-1 ---------------->
            <div class="row" >
                <div class="col-md-6 "  >
                    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id" />
                    <div class="form-group ">
                        <label>Student Name :</label>
                        <input type="text" class="form-control" [(ngModel)]="formData.studentname"
                            placeholder="Enter Student name" name="studentname" #studentname="ngModel" required>
                        <div class="validation-error" *ngIf="studentname.invalid && studentname.touched">
                            This field is required..
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Branch :</label>
                        <input type="text" class="form-control" [(ngModel)]="formData.branch"
                            placeholder="Enter branch name" name="branch" #branch="ngModel" required>
                        <div class="validation-error" *ngIf="branch.invalid && branch.touched">
                            This field is required..
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------- row-2 ------------------------->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Percentage :</label>
                        <input type="text" class="form-control" [(ngModel)]="formData.percentage"
                            placeholder="Enter percentage" name="percentage" #percentage="ngModel" required>
                        <div class="validation-error" *ngIf="percentage.invalid && percentage.touched">
                            This field is required..
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Birth:</label>
                        <input type="text" class="form-control" [(ngModel)]="formData.birth"
                            placeholder="Enter birth" name="birth" #birth="ngModel" required>
                        <div class="validation-error" *ngIf="birth.invalid && birth.touched">
                            This field is required..
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------ row-3 ------------------------>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>joining date :</label>
                        <input type="text" class="form-control" [(ngModel)]="formData.joining"
                            placeholder="Enter joining date" name="joining" #joining="ngModel" required>
                        <div class="validation-error" *ngIf="joining.invalid && joining.touched">
                            This field is required..
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Qualification :</label>
                        <input type="text" class="form-control" [(ngModel)]="formData.qualify"
                            placeholder="Enter qualify" name="qualify" #qualify="ngModel" required>
                        <div class="validation-error" *ngIf="qualify.invalid && qualify.touched">
                            This field is required..
                        </div>
                    </div>
                </div>
            </div>

            <!-- button start -->
            <div class="update-button mt-2">
                <button type="button" [disabled]="form.invalid" class="btn px-3 py-1  btn-sm w-100" (click)=" updateProduct(form)">
                    <i class="fas fa-plus"></i> Update</button>
            </div>
            <!-- form end -->
        </form>
        <!-- card end -->
    </div>



    <!-- <div class="add-button">
    <button type="button" class="btn px-3 py-1  btn-sm" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus"></i> Add Details</button>
</div> -->
    <!-- Modal -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Student Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <form class="addForm"  [formGroup]="addForm">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="studentname" placeholder="Enter Student name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="branch" placeholder="Enter branch">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="percentage" placeholder="Enter Percentage">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="birth" placeholder="Enter Date of birth">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="joining" placeholder="Enter Joining date">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="add-button">
                    <button type="button" class="btn  px-3 py-1  btn-sm mr-2" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn px-3 py-1  btn-sm" (click)="postEmployeeData()" 
                    data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-plus"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div> -->